<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="nav-bar"></div>

	<div id="app">
		<div class="product">

			<div class="product-image">
				<img v-bind:src="image">	
			</div>

			<div class="product-info">
				<h1>{{ title }}</h1>
				<!-- <p>{{ description }}</p> -->
				<!-- <a :href="link" target="_blank">More product</a> -->
				<p v-if="inStock">In Stock</p>
				<p v-else 
				:class="{lineThr: !inStock}">Out of Stock</p>
				<h3>{{ sale }}</h3>
				<ul>
					<li v-for="detail in details"> - {{ detail }} - </li>
				</ul>

				<div v-for="(variant, index) in variants" 
					:key="variant.variantId"
					class="color-box" 
					:style="{backgroundColor: variant.variantColor }"
					@mouseover="updateProduct(index)">
				</div>
				<div class="size">
					<ul>
						<li v-for="size in sizes">{{ size }}</li>
					</ul>
				</div>
				<div class="cart">
					<p>Cart({{cart}})</p>
				</div>

				<button v-on:click="addToCart" 
					:disabled="!inStock"
					:class="{ disabledButton: !inStock}">Add to Cart</button>
				<button v-on:click="deleteFromCart"
					:disabled="!inStock"
					:class="{ disabledButton: !inStock}">Delete from Cart</button>

			</div>

		</div>
	</div>

	<script src="vue.js"></script>
	<script src="main.js"></script>
</body>
</html>